<ion-pane>
  <ion-header-bar class="bar bar-header bar-positive">

  <div class="buttons">
    
  </div>
  <h1 class="title">DRIVER'S GUIDE</h1>
  <div class="buttons">
		<button class="button" >
			<div style="font-size:25px;" class="ion-person">
				
			</div>
			</button>
			
  </div>
  </ion-header-bar>

  <ion-content >
    <div class="list" >


      <div class="item item-divider">Purchase Order</div>
      <div class="item">{{item}}</div>
      <!--<div class="item">Quantity: {{weight}}</div>
      <div class="item">Expected Delivery: {{deliverydate}}</div>-->

      <div class="item item-divider">Shipment Type</div>
        <ion-radio ng-model="choice" ng-value="'A'">Live</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Not Live</ion-radio>
     <!-- <div class="item">Name: {{driver}}</div>
      <div class="item">Telephone Number: {{teleNmbr}}</div>-->
      <div class="item item-divider">Trailer Info</div>
      <div class="item">{{truckNo}}</div>
      <div class="item item item-"><img src="img/truck.jpeg"></div>

    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-positive">
    <a href="#/gps"><h1 class="title" style="text-align: right;">VIEW MY TRACK&nbsp;&nbsp;&nbsp;<span class="ion-ios-fastforward"></span></h1></a>
  </ion-footer-bar>
</ion-pane>
